body {
  margin: 0;
  background: #000;
  text-align: center;
  font-family: Arial;
}

canvas {
  background: #000;
  display: block;
  margin: auto;
}

#controls {
  margin-top: 10px;
}

button {
  font-size: 18px;
  padding: 10px 15px;
  margin: 5px;
}

